</div>
    <footer class="footer-padding">
        <footer class="footer">
            <p><em>© 2022 Layout and Design Sony Pictures Home Entertainment Inc. All Rights Reserved</em></p>
        </footer>
    </footer>
</body>
</html>