<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>challenge</title>
</head>
<body>
    <nav class="navbar">
        <table>
            <tr>
                <header class="container">
                <td>
                    <div class="navbar-header" id="myheader">
                        <h1>DAILY BUGLE📯</h1>
                    </div>
                </td>
                <td>
                    <ul class="navbar-right">
                        <li id="home"> <a href="/"> HOME </a> </li>
                        <li id="about"> <a href="/about"> ABOUT US </a> </li>
                        <li id="contact"> <a href="/contact"> CONTACT US </a> </li> 
                        <li id="contact"> <a href="/compose"> PUBLISH </a> </li>            
                    </ul>
                </td>
                </header>
            </tr>
        </table>

    </nav>

    <div class="body">

        
